<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../show.css">
        <title></title>
    </head>
    <body>
        <h1>MITCH'S TOP 10 MOVIES</h1>
        
        <h2><%=movie.title%></h2>
            <p>Director:<%= movie.director %></p> 
            <p>Writer:<%= movie.writer %></p> 
            <p>Actors:<%= movie.actors %></p>
        <ul>
            <% comments.forEach(function (comment) { %>
             <li class="li"><%= comment.comment %></li>   
            <% }) %>
        </ul>
        <h2>Leave A Comment</h2>
        <form action="/comment/new" method="POST">
            <input type="hidden" name="movieIndex" value="<%=movieIndex%>" />
            <textarea id="comments" name="comment" rows="4" cols="50" placeholder="Leave a comment..."></textarea>
            <button type="submit" id="submit">Submit</button>
        </form>
        <img id="poster" src="<%=movie.imgUrl%>">

    </body>
</html>